<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post page</title>
  <!-- Link to CSS -->
  <link rel="stylesheet" href="css/style.css">
  <!-- Box Icons -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <!-- Header -->
  <header>
  <div class="nav container">
    <!-- logo -->
    <a href="index.html" class="logo">TAD-<span>TALKS</span></a>
    <!-- Login btn-->
    <a href="#" class="login">About</a>
  </div>
  </header>

  <!-- Post content -->
  <section class="post-header">
    <div class="header-content post-container">
      <!-- backto home -->
      <!-- <a href="index.html" class="back-home">Back To Home</a> -->
      <!-- Title -->
      <h1 class="header-title">Story of Hiranyakashap - Birth and Penance.</h>
      <!-- post-img -->
      <img src="img/post-1.png" alt="" class="header-img">
    </div>
  </section>



  <!-- posts -->
 <section class="post-content post-container">
    <h2 class="sub-heading">Introduction:     </h2>
    <p class="post-text">Hirankashap, Originally called as Hiranyakashipu was a asura and King of Daityas. Hiranyakashipu's name literally translates as "clothed in Gold.", which is often interpreted as one who is fond of wealth and sensual comforts. It is also said in some Puranas that Hiranyakashap sat or was nearby during the Atiratra i.e Soma Sacrifice.
    </p>
    <p>
      The story of Hiranyakashap is divided into 3 different parts. <br>
1. Curse gave by four kumaras to the Gatekeepers of Vishnu's Vaikuntha Jaya and Vijaya which led to the birth in SathYuga <br>
2. Penance of Hiranyakashap to Brahma and gain the boom from him. <br>
3. Efforts to kill his own som Prahallada which ultimately resulted in the death of himself by Narasimha - Avatar of Vishnu. <br>
    </p>
    <p class="post-text"></p>
    <h2 class="sub-heading">Birth</h2>
    <p class="post-text">According to Bhagrata Purana, both Hiranyakashap and Hiranyakasha are the gate keepers Jaya and Vijaya of vaikunta. They were born on earth due to the curse from the four kumaras. In satyuga, they were called Hiranya. They were born to diti and sage Kashyapa. Asuras were born to them as a result of the union at the time of Dusk. (Evening)
    </p>
    <h2 class="sub-heading">Penance</h2>
    <p class="post-text">After the death of Hiranyakshaya by Varaha, (Avatar of Vishnu), Hiranyakashap developed hate towards Vishu, As a result, Kashyap decides to perform penance for Brahma and gain the magical powers. But when Brahma appears in front of Hiranyakashap and gives choice to offer boom, Kashyap asks for Immortality but Brahma refuses. So in return, HiranyaKashap makes a request as he should not meet death from any kind of living entities created by Brahma, he would not die within any residence, during any daytime or during nighttime, nor by a weapon nor by an animal or human. 
      Since no one can kill him on the battlefield, these powers would never be lost. there are many different variations by different puranas such as Shiva Puran, Bayu Puran, etc. 
      </p>
    <p class="post-text">In Mahabharata Sage upmanyu mentioned to Lord Krishna that Hiranyakashap also performed another Penance to Lord shive, Shiva granted him unrivaled combat powers as well as powers of Gods Indra, Kubera, Yama, Surya Agni. 
      As a result of these two boons, Hiranyakashap became so might that he could shake the roots of the Great Himalayas. It is also said that Ravana tried to lift his earrings but wasn't able t lift them, they were too heavy.
      
    </p>
    <p class="post-text">According to purana's, Hiranyakashap ruled for 107,280,000 years which was equivalent to 24 Mahayugas. 
    </p>
    <!-- <p class="post-text">
      Lord Ganesha is known as Vignahara-Remover of Obstacles.
      Ganesha also appears in Buddism, not only in the form of Buddist God but also as a Hindu deity called “Vinayaka”
      Few famous temples popular in India of Lord Ganesha are Dagaduseth-Which is located in Pune India, Siddivinayaka-Located in Mumbai, Kanipakam-located near Tirupati in Andhra Pradesh.      
    </p> -->

 </section>
 <div class="back-home-container">
  <a href="index.html" class="back-home-bottom">Back To Home</a>
 </div>
 
 <div class="share post-container">
  <span class="share-title">Share this article</span>
  <div class="social">
    <a href="#"><i class='bx bxl-facebook'></i></a>
    <a href="#"><i class='bx bxl-twitter'></i></a>
    <a href="#"><i class='bx bxl-instagram'></i></a>
    <a href="#"><i class='bx bxl-linkedin'></i></a>
  </div>
 </div>

  <!-- Footer -->
  <div class="footer container">
    <p>
      &#169; Aditya Singh All Rights Reserved
    </p>
    <div class="social">
      <a href="#"><i class='bx bxl-facebook'></i></a>
      <a href="#"><i class='bx bxl-twitter'></i></a>
      <a href="#"><i class='bx bxl-instagram'></i></a>
      <a href="#"><i class='bx bxl-linkedin'></i></a>
    </div>
  </div>
  





  <!-- JQuery Link -->
  <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

  <!-- link to JS -->
  <script src="js/main.js"></script>
</body> 
</html>
